.type-2 {
  /* adds some margin below the link sets  */ }
  .type-2 .navbar .dropdown-menu div[class*="col"] {
    margin-bottom: 1rem; }
  .type-2 .navbar .dropdown-menu {
    border: none;
    background-color: #0060c8 !important;
    /* breakpoint and up - mega dropdown styles */ }
  @media screen and (min-width: 992px) {
    .type-2 {
      /* remove the padding from the navbar so the dropdown hover state is not broken */ }
      .type-2 .navbar {
        padding-top: 0px;
        padding-bottom: 0px;
        /* remove the padding from the nav-item and add some margin to give some breathing room on hovers */ }
      .type-2 .navbar .nav-item {
        padding: 0.5rem 0.5rem;
        margin: 0 0.25rem;
        /* makes the dropdown full width  */ }
      .type-2 .navbar .dropdown {
        position: static; }
      .type-2 .navbar .dropdown-menu {
        width: 100%;
        left: 0;
        right: 0;
        /*  height of nav-item  */
        top: 45px;
        /* shows the dropdown menu on hover */ }
      .type-2 .navbar .dropdown:hover .dropdown-menu, .type-2 .navbar .dropdown .dropdown-menu:hover {
        display: block !important; }
      .type-2 .navbar .dropdown-menu {
        border: 1px solid rgba(0, 0, 0, 0.15);
        background-color: #fff; } }
